@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BKShop.CustomersSite.Models
@using BKShop.ViewModels.ViewModels
@model List<ProductViewModel>
<div class="swiper mySwiper2">
    <div class="swiper-wrapper">
        @foreach (var item in Model)
        {
            <div class="swiper-slide">
                <a asp-page="detail" asp-route-Id="@item.Id" asp-route-Color="@item.Color">
                    <div class="wipper__item">
                        <div class="wipper__item__img" style="background-image: url(@item.Image);"></div>
                        <h4 class="wipper__item__name">@item.Name</h4>
                        <div class="wipper__item__price d-flex-end">
                            <span class="wipper__item__price-old">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),"{0:c}",@item.Price)</span>
                            <span class="wipper__item__price-current">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"),"{0:c}",@item.Price)</span>
                        </div>
                        <a href="" class="btn btn-primary wipper__item__btn">Mua</a>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>